@charset "utf-8";
/* CSS Document */

body {
  font: 14px/1.6 "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
  margin: 0;
  text-align: center;
}


h1,
p,
li {
  color: #bbbbbb;
}

a {
  text-decoration: none;
  color: #bbbbbb;
}