/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height : 60px; /* Vertically center the text there */
  background-color: #343a40;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#game-container{
  width:800px;
  height:600px;
}

/* #phaser-game{
  width:800px;
  height:600px;
} */

body > .container {
  /* padding: 70px 0px 0px 0px; */
  /* margin: 0; */
}

.container-main{
  padding: 70px 0px 0px 0px;
  width:100%;
}

code {
  font-size: 80%;
}

.navbar-text-title {
  color :white;
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
